#contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    background-color: lightgrey;
}

#contact-title {
    font-size: 1.5rem;
    color: black;
}

#contact-description {
    text-align: center;
    width: 18.5rem;
    height: .5rem;
    color: black;
}

#contact-icon-container {
    background: url("../../assets/images/contactIcon.svg");
    background-size: cover;
    width: 20rem;
    height: 20rem;
}

#error-message {
    color: black;
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .1rem 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .8rem;
}

.contact-label {
    font-size: .7rem;
    padding: .5rem 0;
    color: black;
}

.contact-input {
    font-size: .9rem;
    padding: .4rem;
    border: none;
    border: 1px solid gray;
    background-color: white;
    outline: none;
    width: 18.5rem;
    border-radius: 10px;
}

.contact-input:focus {
    border:2px solid white;
}

#contact-textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

#contactBtn {
    padding: .4rem;
    background-color: white;
    border: 1px solid black;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
}

.hide {
    display: none;
}

@media only screen and (min-width: 768px) {
    
    #contact-form {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 44rem;
    }

    .contact-input {
        width: 20rem;
    }
    
    #contact-textarea {
        width: 42rem;
    }

}