* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

header {
    padding: 1rem;
    background-color: #2f3e46;
    font-size: 0.9rem;
    color: white;
}

.content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-container {
    display: flex;
    list-style: none;
}

.nav-item {
    padding: 0 5px;
}

@media only screen and (min-width: 768px) {
    .nav-item{
        margin: 1rem;
        font-size: 1rem;
        color: lightgrey;
    }

    .name-item {
        font-size: 1rem;
    }

    .nav-item:hover{
        color: black;
        background-color: lightblue;
        border-radius: 10px;
    }
}